@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>House Site</h1>
    <p class="lead">This site is designed for long term storage of data, configuration and generating reports</p>
</div>
