@media screen and (min-width: 700px) {
  fieldset input,
  fieldset textarea {
    position: relative;
    width: 484px;
    left: 0;
    right: 0;
    margin-left: 12px;
  }
  fieldset input[type=button] {
    margin-left: 12px;
  }
  fieldset .hasError .errorMessage,
  fieldset .hasError2 .errorMessage2 {
    margin: 6px 5px 0 166px;
    width: 458px;
  }
  .dropdown {
    position: relative;
    width: 484px;
    left: 0;
    right: 0;
    margin-left: 12px;
  }
}
