@media screen and (min-width: 500px) {
  fieldset label {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    clear: both;
    text-align: right;
    padding: 6px 0;
    margin-bottom: 0;
    height: 1em;
  }
  fieldset input,
  fieldset textarea {
    width: auto;
    position: absolute;
    left: 163px;
    right: 5px;
    top: 0;
  }
  fieldset input[type=button] {
    width: auto;
    right: auto;
  }
  fieldset .hasError .errorMessage,
  fieldset .hasError2 .errorMessage2 {
    margin: 6px 5px 0 163px;
  }
  .dropdown {
    width: auto;
    position: absolute;
    left: 163px;
    right: 5px;
  }
}
