* html #MainContainer div {
  /* ie 6 and below hack to hide container divs */

  display: none;
}
.clear {
  clear: both;
}
#MainContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#MainContainer > div,
#MainContainer fieldset {
  position: absolute;
  top: 0;
  left: -100%;
  right: 100%;
  transition: left 500ms ease, right 500ms ease;
}
#MainContainer > div.active,
#MainContainer fieldset.active {
  left: 0;
  right: 0;
}
#MainContainer.notSupported #NotSupported {
  top: 48px;
}
body {
  font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
  font-size: 14px;
  color: #00040e;
}
input[type=button] {
  background: #0030a7;
  color: #ffffff;
  border: 0;
}
div.loading {
  display: none;
}
.loading div.loading {
  display: block;
  position: absolute;
  top: 0;
  left: -1px;
  right: -1px;
  bottom: -1px;
  background: rgba(255, 255, 255, 0.8);
  margin: 0;
}
.loading div.loading img {
  margin: 0 auto;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
}
fieldset {
  margin: 12px;
  border: 1px solid #0030a7;
  position: relative;
}
fieldset .errorMessage,
fieldset .errorMessage2 {
  display: none;
}
fieldset > div {
  margin-bottom: 12px;
  position: relative;
}
fieldset label {
  display: block;
  clear: both;
  margin-bottom: 12px;
}
fieldset div.popup {
  display: none;
  position: absolute;
  background: #ffffff;
  border: 1px solid #0030a7;
  top: 7px;
  left: -1px;
  right: -1px;
  padding: 12px;
  z-index: 50;
}
fieldset div.popup > div {
  margin-bottom: 12px;
  position: relative;
}
fieldset div.popup.active {
  display: block;
}
fieldset input,
fieldset textarea {
  margin: 0;
  width: 100%;
  padding: 6px 12px;
  border: 1px solid #00040e;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
fieldset input[type=button] {
  width: auto;
  margin: 0;
  height: auto;
}
fieldset .hasError input,
fieldset .hasError textarea {
  border-color: #ff0000;
}
fieldset .hasError .errorMessage,
fieldset .hasError2 .errorMessage2 {
  display: block;
  position: relative;
  margin: 2px 0 0;
  padding: 6px 12px;
  border: 1px solid #ff0000;
  color: #ff0000;
  background: #ffffff;
  font-weight: bold;
}
fieldset .hasError .errorMessage div,
fieldset .hasError2 .errorMessage2 div {
  border-top: 1px solid #ff0000;
  border-left: 1px solid #ff0000;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  height: 10px;
  width: 10px;
  position: absolute;
  background: #ffffff;
  margin-top: -12px;
}
.roomsContainer > div {
  float: left;
  width: 120px;
  height: 120px;
  margin: 6px;
  padding: 12px;
  background-color: #0030a7;
  color: #ffffff;
}
.roomsContainer > div.green {
  background-color: #228b22;
}
.roomsContainer > div.red {
  background-color: #b22222;
}
.roomsContainer > div.orange {
  background-color: #ff4500;
}
.roomsContainer > div.blueViolet {
  background-color: #8a2be2;
}
.roomsContainer > div.darkCyan {
  background-color: #008b8b;
}
.roomsContainer > div.darkGray {
  background-color: #a9a9a9;
}
.roomsContainer > div.darkMagenta {
  background-color: #8b008b;
}
.roomsContainer > div.darkOrange {
  background-color: #ff8c00;
}
.roomsContainer > div.indigo {
  background-color: #4b0082;
}
.roomsContainer > div.sienna {
  background-color: #a0522d;
}
.roomsContainer > div.steelBlue {
  background-color: #4682b4;
}
.roomsContainer > div.tomato {
  background-color: #ff6347;
}
.dropdown {
  margin: 0;
  width: 100%;
  border: 1px solid #00040e;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
}
.dropdown .selected {
  padding: 6px;
  cursor: pointer;
}
.dropdown span {
  display: inline-block;
  height: 14px;
  width: 14px;
  background-color: #0030a7;
  vertical-align: top;
  border: 1px solid #ffffff;
}
.dropdown [data-value='green'] span {
  background-color: #228b22;
}
.dropdown [data-value='red'] span {
  background-color: #b22222;
}
.dropdown [data-value='orange'] span {
  background-color: #ff4500;
}
.dropdown [data-value='blueViolet'] span {
  background-color: #8a2be2;
}
.dropdown [data-value='darkCyan'] span {
  background-color: #008b8b;
}
.dropdown [data-value='darkGray'] span {
  background-color: #a9a9a9;
}
.dropdown [data-value='darkMagenta'] span {
  background-color: #8b008b;
}
.dropdown [data-value='darkOrange'] span {
  background-color: #ff8c00;
}
.dropdown [data-value='indigo'] span {
  background-color: #4b0082;
}
.dropdown [data-value='sienna'] span {
  background-color: #a0522d;
}
.dropdown [data-value='steelBlue'] span {
  background-color: #4682b4;
}
.dropdown [data-value='tomato'] span {
  background-color: #ff6347;
}
.dropdown .options {
  position: absolute;
  top: -1px;
  z-index: 49;
  background: #ffffff;
  left: -1px;
  right: -1px;
  border: 1px solid #00040e;
  display: none;
}
.dropdown .options.active {
  display: block;
}
.dropdown .options > div {
  padding: 6px;
  cursor: pointer;
}
.dropdown .options > div:hover,
.dropdown .options > div:active {
  background-color: #4177ff;
  color: #ffffff;
}
