@*<ul data-bind="foreach: folders">
		<li data-bind="text: $data,
						css: { selected: $data == $root.chosenFolderId() },
					   click: $root.goToFolder"></li>
	</ul>*@
<div id="MainContainer">
	<fieldset id="Error" data-bind="with: errorDialog">
		<legend data-bind="text: Title">Error</legend>
		<p data-bind="html: Body"></p>

		<input type="button" data-bind="click: ActionActivate, value: ActionText" />
	</fieldset>
	@Html.Partial("_Authentication")
	@Html.Partial("_Rooms")
	<div id="NotSupported">
		Your browser is not supported by this site please upgrade to the latest version.
	</div>
</div>
