@model IEnumerable<Sannel.House.Server.Interfaces.IRoom>
@{
	ViewBag.Title = "Rooms";
}

<h2>Rooms</h2>

<div class="row-fluid">
	@foreach (var room in Model)
	{
		<div class="span2" data-id="@room.RoomId">
			<div>
				<span>@room.Name</span>
				<span>@room.Description</span>
			</div>
		</div>
	}
</div>
